//BRAND
$themeColorOne: #000000; // header, menu, footer, title, 
$themeColorTwo: #0d5db8; // menu active item, button, footer link hover,
$themeColorThree: #e6e6e6; //preHeader bg, was #f8f8fe
$themeColorFour: #0d5db8; //menu hover item, table border, preHeader font

//BODY
$bodyBgColor: white; //white
$bodyFontColor: #222121; // black

//PreHeader
$preHeaderBgColor: $themeColorThree;
$preHeaderColor: $themeColorFour;

//HEADER
$headerBgColor: $themeColorOne;
$headerFontColor: #000;

//MENU
$menuBgColor: $themeColorTwo;
$menuBgColorActive: $themeColorTwo;
$menuFontColor: #fff;
$menuFontColorActive: #fff;

//PRE FOOTER
$preFooterBgColor: lighten($themeColorTwo, 10%);
$preFooterFontColor: #fff;

//FOOTER
$footerBgColor: $themeColorTwo;
$footerFontColor: #fff;
$footerLinkColorActive: darken(#fff, 25%);

//WRAPPER
$wrapperBgColor: #fff;

//TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

//LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);


//BUTTONS
$buttonFontColor: #fff;
$buttonFontColorActive: #fff;
$buttonBgColor: $themeColorTwo;
$buttonBgColorActive: lighten($themeColorTwo, 10%);
$buttonBorderColor: $themeColorTwo;

//TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

//TEXT
$textMutedColor: #aaa;

//Icons
$iconColor: white;
$iconColorActive: $themeColorTwo;
$iconColorReversed: $themeColorThree;

//FORM
$formBgColor: lighten($themeColorOne, 60%);

//FORM Field
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 30%);
$formFieldPadding: 7px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 13px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;
