.nav {
    //border-top: 2px solid #efeff0;
    //border-bottom: 2px solid #efeff0;
    //background-color: $themeColorTwo;

    .menu {
        @extend %reset-list;
        margin-top: -2px;
        margin-bottom: -2px;
        font-size: 0;
        text-align: center;
        display: table;
        table-layout: fixed;

        &-close {
            cursor: pointer;
            position: relative;
            display: none;
            width: $menu-close-size;
            height: $menu-close-size;
            border: 0;
            background-color: transparent;
            -webkit-tap-highlight-color: transparent;
            @include touch-action(manipulation);

            &:focus {
                outline: 0;
                @include box-shadow(0 0 0 4px rgba($menu-close-color, .2));
            }

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $menu-close-color;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
            }

            &::before {
                @include transform(rotate(45deg));
            }

            &::after {
                @include transform(rotate(-45deg));
            }
        }

        &-item {
            display: table-cell;
            vertical-align: middle;

            &:last-child {
                .sub-menu {
                    left: auto;
                    right: 0;

                    .sub-menu {
                        left: auto;
                        right: 100%;
                    }
                }
            }

            &-has-children {
                position: relative;

                .menu-link {
                    .menu-item,
                    .sub-menu {
                        display: none; 
                    }
                }
            }

            .no-touch,
            &-current,
            &.current-menu-parent {
                .menu-link {
                    &:hover {
                       color: $themeColorTwo; 
                    }
                }
            }

            &-current,
            &.current-menu-parent {
                .menu-link {
                    //border-top-color: #0247cd;
                    color: white;
                }
            }

            .no-touch {
                .menu-link {
                    &:hover {
                        background-color: lighten($themeColorTwo, 10%);
                        color: white;
                    }
                }

                > .sub-menu {
                    display: block;
                }
            }
        }

        &-link {
            display: block;
            border-top: 2px solid transparent;
            font-size: 16px;
            line-height: (22/16);
            padding: 15px 20px;
            font-weight: bold;
            color: white;
            text-decoration: none;
            @extend %smooth_animation;
        }
    }

    .sub-menu {
        @extend %reset-list;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 33;
        width: 315px;
        text-align: left;
        background-color: lighten($themeColorTwo, 10%);
        @include box-shadow(0 0 46px rgba(#000, .07));

        &-item {

            &-has-children {
                position: relative;

                > .sub-menu-link {
                    position: relative;

                }
            }

            .no-touch,
            &-current,
            &.menu-item-current {
                > .sub-menu-link {
                    &:hover {
                        background-color: $themeColorTwo;
                    }
                }
            }

            .no-touch &:hover {
                .sub-menu-link {
                //    &::after {
                //        display: block;
                //    }
                }

                > .sub-menu {
                    display: block;
                }
            }
        }

        &-link {
            display: block;
            padding: 10px 40px 10px 30px;
            font-size: 16px;
            color: $menuFontColor;
            text-decoration: none;
        }

        .sub-menu {
            top: 0;
            left: 100%;
        }
    }
}

.hamburger {
    display: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    @include touch-action(manipulation);
    @include transition(.2s ease-out);

    &:focus {
        outline: 0;
        @include box-shadow(0 0 0 4px rgba($hamburger-color, .2));
    }

    &,
    &[type="button"] {
        cursor: pointer;
        border: 0;
        padding: 9px 5px;
        background-color: transparent;
    }

    &-box {
        display: block;
        width: 30px;
        padding: 9px 0;
    }

    &-inner {
        position: relative;
        @include transition(background-color 0s ease-out $hamburger-delay);

        &,
        &::before,
        &::after {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $hamburger-color;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            @include transition(bottom $hamburger-duration ease-out $hamburger-delay, top $hamburger-duration ease-out $hamburger-delay, transform $hamburger-duration ease-out);
        }

        &::before {
            bottom: $hamburger-offset;
        }

        &::after {
            top: $hamburger-offset;
        }
    }
}

.is-active {
    .hamburger-inner {
        background-color: transparent;

        &::before,
        &::after {
            @include transition(bottom $hamburger-duration ease-out, top $hamburger-duration ease-out, transform $hamburger-duration ease-out $hamburger-delay);
        }

        &::before {
            bottom: 0;
            @include transform(rotate(45deg));
        }

        &::after {
            top: 0;
            @include transform(rotate(-45deg));
        }
    }
}

//xs 544
@media only screen and (max-width: 630px) {
    .hamburger {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 10px;
    }

    .no-touch {
        .nav {
            .menu-item:hover,
            .sub-menu-item:hover {
                > .sub-menu {
                    display: none;
                }
            }
        }
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        overflow: auto;
        background-color: #333;
        will-change: transform;
        @include transform(translateX(100%));
        @include transition(transform .2s ease-out);

        &.is-active {
            @include transform(translateX(0%));
        }

        .menu-item-has-children {
            .menu-link {
                &::after {
                    display: none;
                }
            }
        }

        .menu-item-has-children-arrow {
            display: block;
            position: absolute;
            top: 0;
            right: 15px;
            padding: 10px 15px;
            text-align: center;
            font-size: 18px;
            color: #fff;
            background-color: transparent;
            border: 0; 
        }

        .menu-item-has-children,
        .sub-menu-item-has-children {
            > .sub-menu {
                display: none;
            }
            > .sub-menu-link {
                &::after {
                    display: none;
                }
            }
        }


        .sub-menu-item {
            > .menu-item-has-children-arrow {
                right: 5px
            }
        }

        .menu {
            padding: 40px 0;
            width: auto;
            margin: 0;
            display: block;

            &-close {
                display: block;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            &-item {
                display: block;
                padding: 0;

                &-current,
                &.current-menu-parent,
                &.current-menu-ancestor {
                    .menu-link {
                        text-decoration: underline;
                    }
                }
            }

            &-link {
                color: #fff;
                padding: 10px 15px !important;
                display: block;
            }
        }

        .sub-menu {
            display: block;
            position: static;
            width: auto !important;
            background-color: rgba(#fff, .02);
            @include box-shadow(none);

            &-item {

                &-current {
                    > .sub-menu-link {
                        text-decoration: underline;
                    }
                }
            }

            &-link {
                color: #fff;
                padding: 10px 15px;
                text-align: center;
            }
        }
    }
}
